.phone {
    background-color: var(--black4);
    position: relative;
    top: 0;
    left: 0;
    width: 460px;
    /* height: 930px; */
}

.phone-img {
    position: absolute;
    top: 0;
    z-index: 1;
}

.screen {
    margin: 10px 35px;
    position: absolute;
    top: 0;
    z-index: 0;
    height: 890px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.screen::-webkit-scrollbar {
    display: none;
}