* {
    margin: 0;
    padding: 0;
}

header {
    margin: 20px;
    background-color: bisque;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}

nav {
    display: flex;
    gap: 20px;
}

a {}