* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Koulen', cursive;
    color: white;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #000000;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

.navbar>h2 {
    letter-spacing: 10px;
}

nav {
    background-color: rgb(49, 49, 49);
    padding: 0 40px;
    border-radius: 12px;
    margin: 7px 0;
    display: flex;
    gap: 40px;
}

nav>a {
    text-decoration: none;
    color: inherit;
}