body {
    background-image: url("../img/bg.jpg");
    background-size: 1920px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
}

main {
    background-color: transparent;
    backdrop-filter: blur(20px);
    width: 100%;
    position: fixed;
    bottom: 40px;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 70%;
}

h1 {
    margin: 40px 0;
}